body {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
  background-color: #1f2937;
}
.left-side-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo {
  height: 50px;
  width: 50px;
}

.left-side-header-logo-text {
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

.right-side-header-links {
  display: flex;
  gap: 20px;
}

.header-links,
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

a:link, a:visited {
  text-decoration: none;
}

.main-hero-container {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding: 50px;
  gap: 20px;
}

.main-text {
  font-weight: 900;
  font-size: 48px;
  color: #f9faf8;
}

.main-hero-button {
  background-color: #3882f6;
  font-size: 18px;
  font-weight: 700;
  color: #e5e7eb;
  padding: 8px 36px;
  border-radius: 8px;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}

.flower-doberman {
  width: 500px;
  height: auto;
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.info-title {
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 50px;
}

.info-row-container {
  display: flex;
  gap: 30px;
}

.info-image {
  width: 200px;
  height: auto;
}

.info-text {
  width: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1f2937;
  color: #e5e7eb;
}