/* General page CSS */

    body {
      font-family: Roboto, Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
    }

    p, 
    figure {
      margin: 0;
    }

    a:link, a:visited {
      text-decoration: none;
    }

/* Header CSS */

      .landing-page-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
        height: 100px;
        background-color: #1f2937;
        box-sizing: border-box;
      }
      .left-side-header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
      }

      .logo {
        height: 50px;
        width: 50px;
      }

      .left-side-header-logo-text {
        font-size: 24px;
        font-weight: 500;
        color: #f9faf8;
      }

      nav {
        display: flex;
        gap: 20px;
        margin-left: 20px;
      }

      .header-link {
        font-size: 18px;
        color: #e5e7eb;
      }

/* Main Content CSS */

    .main-hero-container {
      display: flex;
      justify-content: center;
      background-color: #1f2937;
      padding: 100px;
      gap: 30px;
    }

    .main-text {
      font-weight: 900;
      font-size: 48px;
      color: #f9faf8;
      margin: 0;
    }

    .secondary-text {
      font-size: 18px;
      color: #e5e7eb;
    }

    .main-hero-button {
      background-color: #3882f6;
      font-size: 18px;
      font-weight: 700;
      color: #e5e7eb;
      padding: 8px 36px;
      border-radius: 8px;
      border: none;
      margin-top: 12px;
      cursor: pointer;
    }

    .flower-doberman {
      width: 500px;
      height: auto;
      margin: 0;
      padding: 0;
    }

    .information-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
      box-sizing: border-box;
    }

    .info-title {
      color: #1f2937;
      font-weight: 900;
      font-size: 36px;
    }

    .info-row-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .info-content {
      margin: 20px;
    }

    .info-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-style: solid;
      border-width: 4px;
      border-color: #3882f6;
      border-radius: 16px;
    }

    .info-text {
      width: 200px;
      margin-top: 10px;
      color: #1f2937;
      font-size: 18px;
      text-align: center;
    }

    .quote-container {
      flex-direction: column;
      background-color: #e5e7eb;
      padding: 140px;
      margin-bottom: 50px;
      box-sizing: border-box;
    }

    .quote {
      font-size: 36px;
      font-weight: 300;
      font-style: italic;
      color: #1f2937;
    }

    .quote-author {
      display: flex;
      justify-content: right;
      margin-top: 10px;
      color: #1f2937;
      font-size: 24px;
      font-weight: 700;
    }

    .action-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #3882f6;
      border-radius: 6px;
      gap: 10px;
      padding: 50px;
      margin: 0 80px;
      box-sizing: border-box;
    }

    .action-title {
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
      margin: 0;
    }

    .action-text {
      font-size: 18px;
      color: #e5e7eb;
    }

    .action-button {
      background-color: #3882f6;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      padding: 8px 36px;
      border-radius: 8px;
      border-style: solid;
      border-color: #ffffff;
      cursor: pointer;
    }

/* Footer CSS */

    .landing-page-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background-color: #1f2937;
      color: #e5e7eb;
      margin-top: 50px;
    }